*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nameplate{
    
    height: 357px;
    color: rgb(204, 127, 255);
    background-color: #0b1f1fc3;
    font-size: 38px;
    background-repeat: no-repeat;
} 

.nameplate span{
    color: rgb(221, 194, 159);
}
.nameplate h1{

    font-size: 5rem;
    color: rgb(202, 135, 135);
    font-family:'Times New Roman', Times, serif;
height: 40%;
}
.container-fluid{
    background-color: #eac6c6;
}
 .row1 span{
      text-align: center;

    }
   .d-block {
    height: 100vh;
    width: auto;
   }



/* _____________________________MOBILE RESPONSIVE______________________________ */
@media only screen and (MAX-width: 500px) {
    .nameplate h1{
        font-size: 4.5rem;
        
    }
    .row1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: auto;
    }
    .img1{
       border: 2px solid black;
    }
   
   
   
}


/* ________________________________ FOR LAPTOP _______________________________ */
 @media only screen and (min-width: 500px) and (max-width: 2000px) {
    .row1{

    display: flex;
    /* flex-direction: row; */
    
}
.img1 span{
        font-size: 10px;
}
.shopsection img{
    height: 300px;
    width: 280px;
    
    }
}
